<div class="container   todoT bg-transparent justify-content-center align-content-center">

    
        <body class="row justify-content-center align-content-center   ">
            

            <form id="bgM" >
                <div class="form-group row ">
                <label for="exampleInputEmail1" class="p-2 col-sm-2 col-lg-7 p-3" >Email</label>
                <div class="col-lg-12">
                    <input  type="email"  class="m-3-3 form-control " id="nombreUsuario"  placeholder="Email2">
                </div>
                </div>
                <div class="form-group row ">
                <label for="inputPassword" class="p-2 col-sm-2 col-lg-7 p-3">Password</label>
                <div class="col-lg-12">
                    <input  type="password" class="m-3-3 form-control" id="inputPassword" placeholder="Password">
                </div>
                </div>
                <div class="imgI" routerLink=""  >
                        <img type="submit" src="../../../assets/imagenes/iniciar-sesion.png" alt="">
                </div>
                
            </form>
            
        </body>
   
</div>
